<%= render 'layouts/header' %>
<% @items.each do |item| %>
  <div class="container-fluid main-wrapper">
    <div class="row">
      <div class="col-md-12">
        <!-- PRODUCTS ROW -->
        <div class="container-fluid no-padding">
          <div class="row">
            <!-- PRODUCT SINGLE -->
            <div class="col-md-8 col-sm-6 no-padding">
              <div class="product-item mb-0">
                <div class="product-item-thumbnail text-center mb-0 no-radius">
                  <span class="product-item-thumbnail-label"><%= item.title %></span>
                  <%= image_tag item.image.url(:medium), :class => "img-responsive", :alt => "product image" %>
                  
                  <div class="product-item-thumbnail-overlay product-item-thumbnail-overlay-with-bg product-item-thumbnail-overlay-large">
                  <a class="product-item-thumbnail-link" href="#"> <%= link_to 'Show', @item %> </a>
                  <div class="row">
                    <div class="col-xs-12 text-center mb-30">
                      <a class="h5" href="#"><%= item.title %></a>
                    </div>

                    <div class="col-xs-12 text-center mb-30">
                      <del class="h5 text-muted product-item-price-old">$99.00</del>
                      <span class="h5 product-item-price"><%= item.price %></span>
                    </div>
                  </div>

                    <a href="#" class="btn btn-default pulse"><span class="ti-heart mr-0"></span></a>
                    <a href="#" class="btn btn-primary">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <% end %>
        <!-- / PRODUCTS ROW -->

        <!-- FOOTER -->
          <footer class="">
              <div class="footer pt-60 pb-60" id="footer">
                  <div class="container-fluid">
                      <div class="row">
                           <div class="smartphone-fw col-sm-3 mb-30">
                           <h6 class="heading mt-0">CONTACT DATA</h6>
                                  <address class="small">
                                      <strong>Vega store</strong><br>
                                      1355 Market Street, Suite 900<br>
                                      San Francisco, CA 94103<br>
                                      (123) 456-7890
                                  </address>
                              </div>
                          <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2 mb-30">
                              <h6 class="heading mt-0">INFORMATION</h6>
                              <ul>
                                  <li> <a href="#"> Lorem Ipsum </a> </li>
                                  <li> <a href="#"> Lorem Ipsum </a> </li>
                                  <li> <a href="#"> Lorem Ipsum </a> </li>
                                  <li> <a href="#"> Lorem Ipsum </a> </li>
                              </ul>
                          </div>

                          <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2 mb-30">
                              <h6 class="heading mt-0">TOP CATEGORIES</h6>
                              <ul>
                                  <li> <a href="#"> Lorem Ipsum </a> </li>
                                  <li> <a href="#"> Lorem Ipsum </a> </li>
                                  <li> <a href="#"> Lorem Ipsum </a> </li>
                                  <li> <a href="#"> Lorem Ipsum </a> </li>
                              </ul>
                          </div>

                          <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2 mb-30">
                              <h6 class="heading mt-0">ACCOUNT</h6>
                              <ul>
                                  <li> <a href="#"> Lorem Ipsum </a> </li>
                                  <li> <a href="#"> Lorem Ipsum </a> </li>
                                  <li> <a href="#"> Lorem Ipsum </a> </li>
                                  <li> <a href="#"> Lorem Ipsum </a> </li>
                              </ul>
                          </div>
           
                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <h6 class="heading mt-0">STAY IN TOUCH</h6>

                              <form>
                                  <fieldset>
                      <div class="form-group">
                        <div class="footer-newsletter">
                          <input class="form-control" id="firstName" placeholder="your e-mail" type="text">
                          <button class="btn btn-link" type="button"><span class="ti-plus"></span></button>
                        </div>
                      </div>
                    </fieldset>
                              </form>

                              <ul class="footer-social" data-wow-delay="0.6s">
                                  <li><a href="#" class="pull-left"><span class="ti-facebook"></span></a></li>
                                  <li><a href="#" class="pull-left"><span class="ti-twitter"></span></a></li>
                                  <li><a href="#" class="pull-left"><span class="ti-instagram"></span></a></li>
                                  <li><a href="#" class="pull-left"><span class="ti-youtube"></span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              
              <div class="footer-bottom">
                  <div class="container">
                      <p class="pull-left"> Copyright © VEGA 2017. All right reserved. </p>
                  </div>
              </div>
          </footer>
        <!-- / FOOTER -->
      </div>
    </div>
  </div>


  <script src="assets/js/wow.js"></script>
  <script>
  window.jQuery || document.write('<script src="assets/js/jquery-1.11.2.min.js"><\/script>')
  </script>
  <script src="assets/js/swiper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.countTo.js"></script>
  <script src="assets/js/jquery.inview.js"></script>
  <script src="assets/js/jquery.countdown.js"></script>
    <script src="assets/js/bootstrap-select.js"></script>
  <script src="assets/js/main.js"></script>